.cart {
    width: 90%;
    min-height: 300px;
    background-color: white;
    padding: 5%;
    margin-top: 10%;
    border-radius: 5%;
}

.header {
    font-weight: 700;
    color: #C83B0E;
}

.pro {
    padding-top: 5%;
}

.productdetail {
    width: 70%;
}

.namepro {
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin-bottom: -20px;
}

.delete {
    background-color: white;
    position: relative;
    bottom: -10px;
    left: 90%;
    padding: 0 5px;
    border: solid 1px hsl(7, 20%, 60%)
}

.price,
.priceQ {
    color: #87635A;
    padding: 0;
    margin-bottom: 2%;
}

.price {
    font-weight: 300;
}

.priceQ {
    font-weight: 500;
}

.quantity {
    padding-right: 0;
    color: #C83B0E;
    font-weight: 700;
}

.price,
.priceQ,
.quantity {
    font-size: 15px;
}

.totalprice {
    font-weight: 700;
    font-size: 27px;
}


/*when the cart is empty //////////////////////////////////*/
.emptycart {
    position: relative;
    left: 35%;
}

.emptymsg {
    color: #87635A;
    position: relative;
    top: 1rem;
    left: 20%;
}

/*carbon div  //////////////////////////////////////////*/
.carbon {
    background-color: hsl(12, 33%, 97%);
    padding: 4%;
    margin: 0 auto 5%;
}
.carbon img {
    width: 10%;
}
.carbon p span {
    font-weight: 500;
}

.confirmbtn {
    width: 100%;
    padding: 3%;
    background-color: #C83B0E;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border: none;
}


/*media query  ////////////////////////////////////////*/
@media(max-width:655px) {
    .cart {
        width: 100%;
    }
}
@media(max-width:578px) {
    .carbon p {
        width: 80%;
    }
}
@media(max-width:400px) {
    .carbon p {
        width: 90%;
    }
}
@media(max-width:357px) {
    .emptymsg {
        top: 1.5rem;
        font-size: 14px;
        left: 5%;
    }
    .emptycart{
        top:0.5rem;
        left: 22%;
    }
    .carbon p {
        font-size: 14px;
    }

    .totalprice {
        font-size: 22px;
    }
    .namepro,
    .price,
    .priceQ,
    .quantity {
        font-size: 13px;
    }

    hr {
        margin: 0;
    }
}

@media(max-width:316px) {
    .price {
        width: 25%;
    }
    .totalprice {
        font-size: 18px;
        padding-top: 0.4rem;
    }
    .totaltext {
        font-size: 15px;
    }
    .carbon p {
        font-size: 13px;
    }
}